/* line 2, C:/Users/Natalia/Documents/AXIT/sass/partials/_reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 3, stdin */
body {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

/* line 8, stdin */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 15, stdin */
.logo_small {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

/* line 20, stdin */
nav {
  background-color: #000000;
}

/* line 25, stdin */
.menu {
  display: inline-block;
  color: #cdcbce;
  list-style-type: none;
  float: right;
  width: 43%;
  padding: 2% 0;
}

@media (max-width: 1110px) {
  /* line 35, stdin */
  .menu {
    width: 50%;
  }
}

@media (max-width: 970px) {
  /* line 41, stdin */
  .menu {
    width: 65%;
  }
}

@media (max-width: 740px) {
  /* line 47, stdin */
  .menu {
    width: 85%;
  }
}

@media (max-width: 565px) {
  /* line 53, stdin */
  .menu {
    width: 80%;
  }
}

@media (max-width: 455px) {
  /* line 59, stdin */
  .menu {
    display: none;
  }
}

/* line 64, stdin */
.menu li {
  display: inline-block;
  margin-left: 8%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

/* line 74, stdin */
.menu li a {
  text-decoration: none;
  color: #cdcbce;
}

/* line 77, stdin */
.menu li a:hover {
  color: #ffffff;
}

@media (max-width: 565px) {
  /* line 85, stdin */
  .menu li {
    margin-left: 4%;
  }
}

/* line 91, stdin */
.hamburger img {
  position: fixed;
  right: 15px;
  top: 5px;
  width: 8%;
  display: none;
  cursor: pointer;
}

/* line 99, stdin */
.hamburger .menu {
  display: none;
  z-index: 100;
  background-color: #fff;
  width: 100px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 45px;
  right: 7px;
}

/* line 109, stdin */
.hamburger .menu li {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  border-top: 1px dashed #000;
  font-size: 1rem;
}

/* line 116, stdin */
.hamburger .menu li:hover {
  font-weight: bold;
}

/* line 119, stdin */
.hamburger .menu li a {
  color: #000;
}

@media (max-width: 455px) {
  /* line 128, stdin */
  .hamburger img {
    display: block;
  }
  /* line 131, stdin */
  .hamburger .menu {
    display: none;
  }
}

/* line 137, stdin */
.headerImg {
  background-image: url("../images/header_img.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 53.42577%;
  display: block;
  background-repeat: no-repeat;
}

/* line 144, stdin */
.headerBox {
  display: flex;
  padding-top: 20%;
  width: 100%;
}

/* line 148, stdin */
.headerBox h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  width: 80%;
}

/* line 156, stdin */
.headerBoxLeft {
  width: 60%;
}

@media (max-width: 730px) {
  /* line 161, stdin */
  .headerBoxLeft {
    width: 100%;
  }
}

/* line 166, stdin */
.headerBoxRight {
  width: 40%;
}

@media (max-width: 730px) {
  /* line 171, stdin */
  .headerBoxRight {
    display: none;
  }
}

@media (max-width: 1500px) {
  /* line 177, stdin */
  .headerBox {
    padding-top: 15%;
  }
}

@media (max-width: 1320px) {
  /* line 183, stdin */
  .headerBox {
    padding-top: 10%;
  }
}

@media (max-width: 1110px) {
  /* line 189, stdin */
  .headerBox {
    padding-top: 7%;
  }
  /* line 191, stdin */
  .headerBox h1 {
    width: 100%;
  }
}

@media (max-width: 930px) {
  /* line 198, stdin */
  .headerBox {
    padding-top: 4%;
  }
  /* line 200, stdin */
  .headerBox img {
    display: none;
  }
}

@media (max-width: 770px) {
  /* line 208, stdin */
  .headerBox h1 {
    font-size: 2rem;
    margin-bottom: 1%;
  }
}

@media (max-width: 530px) {
  /* line 216, stdin */
  .headerBox {
    padding-top: 0;
  }
  /* line 218, stdin */
  .headerBox h1 {
    margin-top: 0.5%;
    font-size: 1.7rem;
  }
}

@media (max-width: 420px) {
  /* line 227, stdin */
  .headerBox h1 {
    margin-top: 0.5%;
    font-size: 1.3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 350px) {
  /* line 239, stdin */
  .headerBox {
    margin-left: 5%;
  }
}

/* line 245, stdin */
.border {
  width: 70px;
  height: 2px;
  background-color: #f5f5f5;
  margin: 5% 0;
}

@media (max-width: 770px) {
  /* line 253, stdin */
  .border {
    margin: 2% 0;
  }
}

@media (max-width: 420px) {
  /* line 259, stdin */
  .border {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 265, stdin */
.subText {
  font-weight: 300;
  color: #cdcbce;
  font-size: 0.9rem;
  width: 60%;
  line-height: 1.5rem;
  margin-top: 2%;
}

@media (max-width: 930px) {
  /* line 275, stdin */
  .subText {
    width: 100%;
  }
}

@media (max-width: 420px) {
  /* line 281, stdin */
  .subText {
    display: none;
  }
}

/* line 286, stdin */
.button {
  margin-top: 7%;
  width: 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 5px 10px 40px;
  min-width: 100px;
}

@media (max-width: 930px) {
  /* line 298, stdin */
  .button {
    margin-top: 3%;
  }
}

@media (max-width: 420px) {
  /* line 304, stdin */
  .button {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 311, stdin */
.transparent {
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  cursor: pointer;
}

/* line 315, stdin */
.transparent:hover {
  background-color: #f5f5f5;
  color: black;
}

/* line 321, stdin */
.login {
  width: 80%;
  margin-left: 20%;
  border-radius: 5px;
  background-color: #ffffff;
}

/* line 326, stdin */
.login .loginHead {
  background-color: #f5f5f5;
  padding: 5% 0;
  font-weight: 800;
  color: #8f9092;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 5% 5% 0 0;
  text-align: center;
}

/* line 335, stdin */
.login .loginHead span {
  color: #ff9c51;
  text-transform: uppercase;
}

/* line 341, stdin */
.login input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 1%;
  padding-bottom: 2%;
  padding-left: 3%;
  font-family: "Open Sans", sans-serif;
  color: #d6d6d6;
}

/* line 353, stdin */
.login button {
  margin-top: 13%;
  background-color: #ff9c51;
  border: none;
  width: 100%;
  padding: 5% 20%;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

@media (max-width: 1110px) {
  /* line 368, stdin */
  .login {
    margin-left: 0;
    width: 85%;
  }
}

@media (max-width: 730px) {
  /* line 375, stdin */
  .login {
    display: none;
  }
}

/* line 380, stdin */
::-webkit-input-placeholder {
  color: #d6d6d6;
}

/* line 384, stdin */
::-moz-placeholder {
  color: #d6d6d6;
}

/* line 388, stdin */
::-ms-input-placeholder {
  color: #d6d6d6;
}

/* line 392, stdin */
:-moz-placeholder {
  color: #d6d6d6;
}

/* line 396, stdin */
#errorName2 {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}

/* line 404, stdin */
#errorEmail2 {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}

/* line 412, stdin */
#errorPassword2 {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}

/* line 420, stdin */
.socialMedia {
  border-bottom: 3px solid #cdcbce;
}

/* line 424, stdin */
.media {
  display: flex;
}

/* line 429, stdin */
.textMedia {
  width: 30%;
  font-size: 0.9rem;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  flex-grow: 1;
  color: #8f9092;
  font-family: "Open Sans", sans-serif;
}

/* line 437, stdin */
.textMedia span {
  margin-bottom: 1%;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
}

/* line 443, stdin */
.textMedia p {
  margin-top: 1.5%;
  line-height: 1.2rem;
  margin-bottom: 0;
}

@media (max-width: 1100px) {
  /* line 452, stdin */
  .textMedia p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (max-width: 960px) {
  /* line 460, stdin */
  .textMedia {
    padding-top: 3%;
    margin-left: 2%;
  }
  /* line 463, stdin */
  .textMedia p {
    display: none;
  }
}

@media (max-width: 910px) {
  /* line 470, stdin */
  .textMedia {
    width: 20%;
  }
}

@media (max-width: 850px) {
  /* line 476, stdin */
  .textMedia {
    width: 15%;
  }
}

@media (max-width: 735px) {
  /* line 482, stdin */
  .textMedia {
    width: 7%;
  }
}

@media (max-width: 680px) {
  /* line 488, stdin */
  .textMedia {
    display: none;
  }
}

/* line 493, stdin */
.logos {
  list-style-type: none;
  flex-grow: 5;
  margin-top: 2.5%;
  margin-left: 1%;
  margin-bottom: 1.5%;
}

/* line 499, stdin */
.logos li {
  display: inline-block;
  font-size: 3rem;
  margin-left: 4%;
}

/* line 503, stdin */
.logos li a {
  color: #cdcbce;
}

/* line 505, stdin */
.logos li a:hover {
  color: #000000;
}

@media (max-width: 1100px) {
  /* line 514, stdin */
  .logos li {
    margin-left: 3%;
  }
}

@media (max-width: 970px) {
  /* line 522, stdin */
  .logos li {
    margin-left: 2%;
  }
}

@media (max-width: 610px) {
  /* line 530, stdin */
  .logos li {
    font-size: 2.5rem;
  }
}

@media (max-width: 510px) {
  /* line 538, stdin */
  .logos li {
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  /* line 546, stdin */
  .logos li {
    margin-left: 1%;
  }
}

@media (max-width: 390px) {
  /* line 554, stdin */
  .logos li {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  /* line 562, stdin */
  .logos li {
    font-size: 1.7rem;
  }
}

/* line 568, stdin */
.tabs {
  background-color: #f5f5f5;
}

/* line 572, stdin */
.tabsBox {
  display: flex;
  padding: 10% 0;
  font-family: "Open Sans", sans-serif;
}

/* line 576, stdin */
.tabsBox .clicableBox {
  width: 20%;
  min-width: 100px;
}

/* line 579, stdin */
.tabsBox .clicableBox li {
  list-style-type: none;
  padding: 40px 10px;
  background-color: #333333;
  width: 40%;
  border-top: 1px solid #f5f5f5;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

/* line 591, stdin */
.tabsBox .clicableBox li:first-child {
  background-color: #ff8b38;
}

/* line 595, stdin */
.tabsBox .tabsText {
  width: 45%;
  min-width: 200px;
}

/* line 598, stdin */
.tabsBox .tabsText h3 {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

/* line 603, stdin */
.tabsBox .tabsText .tabsSmallText1 {
  font-size: 0.9rem;
  color: #8f9092;
  margin-top: 8%;
}

/* line 608, stdin */
.tabsBox .tabsText .tabsSmallText2 {
  font-size: 0.9rem;
  color: #8f9092;
  margin-top: 2%;
  margin-bottom: 10%;
}

/* line 614, stdin */
.tabsBox .tabsText .orange {
  background-color: #ff8b38;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 0px 10px 35px;
  cursor: pointer;
  min-width: 110px;
}

/* line 624, stdin */
.tabsBox .tabsPicture {
  width: 25%;
  background-image: url("../images/buildings.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 79.0625%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 7%;
  margin-top: 3%;
  padding-bottom: 20%;
}

/* line 632, stdin */
.tabsBox .tabsPicture2 {
  width: 25%;
  background-image: url("../images/buildings_purple.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 79.0625%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 7%;
  margin-top: 3%;
  padding-bottom: 20%;
}

/* line 640, stdin */
.tabsBox .tabsPicture3 {
  width: 25%;
  background-image: url("../images/buildings_green.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 79.0625%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 7%;
  margin-top: 3%;
  padding-bottom: 20%;
}

@media (max-width: 1150px) {
  /* line 654, stdin */
  .tabsBox .clicableBox li {
    margin-left: 5%;
  }
  /* line 658, stdin */
  .tabsBox .tabsText {
    margin-left: 2%;
  }
}

@media (max-width: 650px) {
  /* line 665, stdin */
  .tabsBox {
    flex-wrap: wrap;
  }
  /* line 667, stdin */
  .tabsBox .tabsText {
    width: 70%;
  }
  /* line 670, stdin */
  .tabsBox .tabsPicture {
    width: 50%;
    padding-bottom: 35%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 677, stdin */
  .tabsBox .tabsPicture2 {
    width: 50%;
    padding-bottom: 35%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 684, stdin */
  .tabsBox .tabsPicture3 {
    width: 50%;
    padding-bottom: 35%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 376px) {
  /* line 696, stdin */
  .tabsBox .tabsText {
    width: 45%;
  }
}

/* line 702, stdin */
.sub {
  display: flex;
  padding-top: 10%;
  padding-bottm: 10%;
}

/* line 706, stdin */
.sub .viewLeft {
  width: 110%;
  background-image: url("../images/view_left.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 71.42857%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 40%;
  margin-top: 3%;
}

/* line 713, stdin */
.sub .subList {
  width: 90%;
  margin-left: 15%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
}

/* line 719, stdin */
.sub .subList h3 {
  color: #222222;
  font-size: 1.2rem;
  font-weight: 700;
}

/* line 724, stdin */
.sub .subList .orange2 {
  background-color: #ff8b38;
  margin: 3% 0;
}

@media (max-width: 1100px) {
  /* line 733, stdin */
  .sub {
    flex-direction: column;
  }
  /* line 735, stdin */
  .sub .viewLeft {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 50%;
  }
  /* line 740, stdin */
  .sub .subList {
    width: 70%;
  }
}

/* line 746, stdin */
.title1 {
  margin-bottom: 1%;
  margin-top: 10%;
}

/* line 749, stdin */
.title1 img {
  float: left;
  margin: 1% 5% 5% 0;
}

/* line 753, stdin */
.title1 h4 {
  margin-bottom: 1%;
  color: #222222;
}

/* line 757, stdin */
.title1 p {
  margin-top: 1%;
}

/* line 762, stdin */
article {
  background-color: #f5f5f5;
}

/* line 766, stdin */
.standard {
  display: flex;
  padding: 10% 0 2% 0;
}

/* line 769, stdin */
.standard .standardPicure {
  width: 65%;
}

/* line 771, stdin */
.standard .standardPicure h3 {
  color: #222222;
  font-size: 1.3rem;
  font-weight: 700;
}

/* line 776, stdin */
.standard .standardPicure .orange2 {
  background-color: #ff8b38;
  margin: 6% 0 7% 0;
}

/* line 780, stdin */
.standard .standardPicure p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 5%;
}

/* line 787, stdin */
.standard .picture {
  width: 60%;
  background-image: url("../images/view_right.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 71.42857%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 40%;
  margin-left: 5%;
}

@media (max-width: 1100px) {
  /* line 797, stdin */
  .standard {
    flex-direction: column;
    padding: 5% 0 2% 0;
  }
  /* line 800, stdin */
  .standard .standardPicure {
    margin-left: 15%;
  }
  /* line 803, stdin */
  .standard .picture {
    width: 70%;
    padding-bottom: 50%;
    margin-left: 15%;
  }
}

/* line 811, stdin */
.awe {
  padding: 5% 0;
}

/* line 813, stdin */
.awe h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

/* line 819, stdin */
.awe .orange2 {
  background-color: #ff8b38;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 826, stdin */
.awe .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 7%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 837, stdin */
.three {
  display: flex;
  justify-content: space-between;
}

/* line 840, stdin */
.three img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 845, stdin */
.three h3 {
  text-align: center;
}

/* line 848, stdin */
.three p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-left: 1%;
  margin-right: 1%;
}

@media (max-width: 567px) {
  /* line 859, stdin */
  .three {
    flex-direction: column;
  }
}

/* line 864, stdin */
.pricing {
  background-color: #f5f5f5;
}

/* line 868, stdin */
.price {
  padding: 5% 0;
}

/* line 870, stdin */
.price h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

/* line 876, stdin */
.price .orange2 {
  background-color: #ff8b38;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 883, stdin */
.price .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 7%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 894, stdin */
.boxes {
  display: flex;
  justify-content: space-between;
}

/* line 897, stdin */
.boxes ul {
  width: 90%;
}

/* line 899, stdin */
.boxes ul li {
  list-style-type: none;
  text-align: center;
  padding: 3% 5%;
  width: 80%;
}

/* line 905, stdin */
.boxes ul .darkGray {
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  border-bottom: 1px solid #f5f5f5;
  padding: 5%;
}

/* line 912, stdin */
.boxes ul .darkGrayBig {
  background-color: #333333;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 5%;
}

/* line 918, stdin */
.boxes ul .darkGrayBig span {
  font-size: 5.5rem;
}

/* line 922, stdin */
.boxes ul .differentGray {
  background-color: #333333;
  color: #aeaeae;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 2% 5% 5% 5%;
}

/* line 930, stdin */
.boxes ul .orange {
  padding: 0.7% 5%;
  background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

/* line 939, stdin */
.boxes ul .orange3 {
  padding: 3% 5%;
}

/* line 942, stdin */
.boxes ul .gray {
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  border-bottom: 2px solid #f5f5f5;
  font-weight: 600;
}

@media (max-width: 600px) {
  /* line 955, stdin */
  .boxes {
    flex-direction: column;
  }
  /* line 957, stdin */
  .boxes ul {
    margin-left: 10%;
    margin-bottom: 3%;
  }
}

/* line 964, stdin */
.boxFirst {
  margin-left: 3%;
}

/* line 968, stdin */
.boxSecond {
  margin-top: -3.3%;
}

@media (max-width: 600px) {
  /* line 973, stdin */
  .boxSecond {
    margin-top: 0%;
  }
}

/* line 980, stdin */
.what {
  padding: 5% 0;
}

/* line 982, stdin */
.what h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

/* line 988, stdin */
.what .orange2 {
  background-color: #ff8b38;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 995, stdin */
.what .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 1006, stdin */
.persons {
  display: flex;
  justify-content: space-between;
}

/* line 1009, stdin */
.persons .person {
  margin-left: 5%;
}

/* line 1011, stdin */
.persons .person p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  width: 80%;
  line-height: 1rem;
  background-color: #f5f5f5;
  padding: 6% 2% 8% 3%;
  border-radius: 5px;
  margin-bottom: 0;
}

/* line 1022, stdin */
.persons .person .arrowdown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f5f5f5;
  margin-left: 7%;
}

/* line 1030, stdin */
.persons .person img {
  float: left;
  margin-right: 5%;
  margin-top: 3%;
}

/* line 1035, stdin */
.persons .person h3 {
  margin-bottom: 1%;
  font-family: "Open Sans", sans-serif;
}

/* line 1039, stdin */
.persons .person .job {
  font-size: 0.9rem;
  color: #8f9092;
}

@media (max-width: 650px) {
  /* line 1047, stdin */
  .persons {
    flex-direction: column;
  }
  /* line 1049, stdin */
  .persons .person {
    margin-left: 10%;
  }
  /* line 1051, stdin */
  .persons .person p {
    width: 80%;
  }
  /* line 1054, stdin */
  .persons .person img {
    margin-left: 2%;
  }
}

/* line 1061, stdin */
.horizontal {
  width: 100%;
  background-image: url("../images/horizontal_dark.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 23.21429%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 15%;
  min-height: 136px;
}

/* line 1067, stdin */
.horizontal h1 {
  text-align: center;
  padding-top: 7%;
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
}

/* line 1077, stdin */
.horizontal .border {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 1083, stdin */
.horizontal .subText {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 1rem;
  width: 90%;
  margin-top: 4%;
}

/* line 1091, stdin */
.horizontal .button {
  margin-top: 6%;
  padding: 10px 5px 10px 40px;
  cursor: pointer;
  min-width: 100px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1610px) {
  /* line 1103, stdin */
  .horizontal h1 {
    margin-bottom: 2%;
  }
  /* line 1106, stdin */
  .horizontal .subText {
    margin-top: 2%;
  }
}

@media (max-width: 1410px) {
  /* line 1113, stdin */
  .horizontal {
    padding-bottom: 13%;
  }
  /* line 1115, stdin */
  .horizontal h1 {
    padding-top: 5%;
  }
}

@media (max-width: 1230px) {
  /* line 1122, stdin */
  .horizontal {
    padding-bottom: 11%;
  }
  /* line 1124, stdin */
  .horizontal h1 {
    padding-top: 3%;
  }
}

@media (max-width: 1120px) {
  /* line 1131, stdin */
  .horizontal {
    padding-bottom: 9%;
  }
  /* line 1133, stdin */
  .horizontal .button {
    margin-top: 4%;
  }
}

@media (max-width: 940px) {
  /* line 1140, stdin */
  .horizontal {
    padding-bottom: 8%;
  }
  /* line 1142, stdin */
  .horizontal h1 {
    padding-top: 2%;
  }
  /* line 1145, stdin */
  .horizontal .button {
    margin-top: 3%;
  }
}

@media (max-width: 833px) {
  /* line 1152, stdin */
  .horizontal {
    padding-bottom: 7%;
  }
  /* line 1154, stdin */
  .horizontal h1 {
    padding-top: 1%;
  }
  /* line 1157, stdin */
  .horizontal .button {
    margin-top: 2%;
  }
}

@media (max-width: 750px) {
  /* line 1164, stdin */
  .horizontal {
    padding-bottom: 4%;
  }
  /* line 1166, stdin */
  .horizontal h1 {
    font-size: 2rem;
    margin-bottom: 1%;
  }
  /* line 1170, stdin */
  .horizontal .border {
    margin-top: 0%;
    margin-bottom: 1%;
  }
  /* line 1174, stdin */
  .horizontal .subText {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

@media (max-width: 670px) {
  /* line 1183, stdin */
  .horizontal h1 {
    padding-bottom: 2%;
  }
  /* line 1186, stdin */
  .horizontal .subText {
    margin-top: 3%;
  }
  /* line 1189, stdin */
  .horizontal .button {
    margin-top: 5%;
    border: 2px solid #000000;
    color: #000000;
  }
}

@media (max-width: 550px) {
  /* line 1199, stdin */
  .horizontal h1 {
    padding-bottom: 1%;
  }
  /* line 1202, stdin */
  .horizontal .subText {
    margin-top: 2%;
  }
  /* line 1205, stdin */
  .horizontal .button {
    margin-top: 4%;
  }
}

@media (max-width: 400px) {
  /* line 1213, stdin */
  .horizontal h1 {
    font-size: 1.5rem;
    padding-bottom: 0%;
  }
  /* line 1217, stdin */
  .horizontal .subText {
    margin-top: 0%;
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  /* line 1222, stdin */
  .horizontal .button {
    margin-top: 5%;
  }
}

/* line 1228, stdin */
.contact {
  padding: 5% 0;
}

/* line 1230, stdin */
.contact h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 2%;
  text-align: center;
}

/* line 1237, stdin */
.contact .orange2 {
  background-color: #ff8b38;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 1244, stdin */
.contact .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 1253, stdin */
.contact .orange {
  background-color: #ff8b38;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  min-width: 110px;
  margin-right: auto;
  margin-left: auto;
}

/* line 1266, stdin */
form {
  display: flex;
}

/* line 1268, stdin */
form .leftCol {
  width: 50%;
}

/* line 1270, stdin */
form .leftCol input {
  width: 90%;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  margin-top: 6%;
  margin-bottom: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  font-family: "Open Sans", sans-serif;
  color: #d6d6d6;
}

/* line 1282, stdin */
form .rightCol {
  width: 50%;
}

/* line 1284, stdin */
form .rightCol textarea {
  width: 90%;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 1%;
  padding-bottom: 22%;
  padding-left: 3%;
  font-family: "Open Sans", sans-serif;
  resize: none;
}

@media (max-width: 1120px) {
  /* line 1302, stdin */
  form .leftCol input {
    margin-left: 4%;
  }
}

@media (max-width: 770px) {
  /* line 1310, stdin */
  form {
    flex-direction: column;
  }
  /* line 1312, stdin */
  form .leftCol {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 1318, stdin */
  form .rightCol {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 640px) {
  /* line 1328, stdin */
  form {
    flex-direction: column;
  }
  /* line 1331, stdin */
  form .leftCol input {
    width: 100%;
    margin-left: 0%;
  }
  /* line 1337, stdin */
  form .rightCol textarea {
    width: 100%;
    margin-left: 0%;
  }
}

/* line 1345, stdin */
#errorName {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}

/* line 1353, stdin */
#errorEmail {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}

/* line 1361, stdin */
#errorSubject {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}

/* line 1369, stdin */
#errorMessage {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
}

/* line 1379, stdin */
footer {
  background-color: #000000;
}

/* line 1381, stdin */
footer .logos {
  padding-top: 1%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 1386, stdin */
footer .logos li {
  font-size: 1.5rem;
  margin-left: 1%;
}

/* line 1390, stdin */
footer .logos li a:hover {
  color: #8f9092;
}

/* line 1396, stdin */
footer .foot {
  padding-bottom: 0.5%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: #8f9092;
  margin-top: 0.5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 1409, stdin */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}
