/* line 2, C:/Users/Natalia/Documents/AXIT/sass/partials/_reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 3, stdin */
body {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

/* line 8, stdin */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 15, stdin */
.logo_small {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

/* line 20, stdin */
nav {
  background-color: #000000;
}

/* line 25, stdin */
.menu {
  display: inline-block;
  color: #cdcbce;
  list-style-type: none;
  float: right;
  width: 43%;
  padding: 2% 0;
}

/* line 34, stdin */
.menu li {
  display: inline-block;
  margin-left: 8%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

/* line 42, stdin */
.headerImg {
  background-image: url("../images/header_img.jpg");
  width: 100%;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 53.42577%;
  display: block;
  background-repeat: no-repeat;
}

/* line 48, stdin */
.headerBox {
  display: flex;
  padding-top: 20%;
  width: 100%;
}

/* line 52, stdin */
.headerBox h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  width: 80%;
}

@media (max-width: 1500px) {
  /* line 61, stdin */
  .headerBox {
    padding-top: 15%;
  }
}

@media (max-width: 1320px) {
  /* line 67, stdin */
  .headerBox {
    padding-top: 10%;
  }
}

/* line 72, stdin */
.border {
  width: 70px;
  height: 2px;
  background-color: #f5f5f5;
  margin: 5% 0;
}

/* line 79, stdin */
.subText {
  font-weight: 300;
  color: #cdcbce;
  font-size: 0.9rem;
  width: 60%;
  line-height: 1.5rem;
  margin-top: 2%;
}

/* line 88, stdin */
.button {
  padding: 1.5% 4.5%;
  margin-top: 7%;
  width: 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

/* line 98, stdin */
.transparent {
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  cursor: pointer;
}

/* line 102, stdin */
.transparent:hover {
  background-color: #f5f5f5;
  color: black;
}

/* line 108, stdin */
.login {
  width: 80%;
  margin-left: 20%;
  border-radius: 5px;
  background-color: #ffffff;
}

/* line 113, stdin */
.login .loginHead {
  background-color: #f5f5f5;
  padding: 5% 15%;
  font-weight: 800;
  color: #8f9092;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 5% 5% 0 0;
}

/* line 121, stdin */
.login .loginHead span {
  color: #ff9c51;
  text-transform: uppercase;
}

/* line 126, stdin */
.login input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 1%;
  padding-bottom: 2%;
  padding-left: 3%;
  font-family: "Open Sans", sans-serif;
  color: #d6d6d6;
}

/* line 138, stdin */
.login button {
  margin-top: 13%;
  background-color: #ff9c51;
  border: none;
  width: 100%;
  padding: 5% 20%;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

/* line 152, stdin */
::-webkit-input-placeholder {
  color: #d6d6d6;
}

/* line 156, stdin */
::-moz-placeholder {
  color: #d6d6d6;
}

/* line 160, stdin */
::-ms-input-placeholder {
  color: #d6d6d6;
}

/* line 164, stdin */
:-moz-placeholder {
  color: #d6d6d6;
}

/* line 168, stdin */
.socialMedia {
  border-bottom: 3px solid #cdcbce;
}

/* line 172, stdin */
.media {
  display: flex;
}

/* line 177, stdin */
.textMedia {
  width: 30%;
  font-size: 0.9rem;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  flex-grow: 1;
  color: #8f9092;
  font-family: "Open Sans", sans-serif;
}

/* line 185, stdin */
.textMedia span {
  margin-bottom: 1%;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
}

/* line 191, stdin */
.textMedia p {
  margin-top: 1.5%;
  line-height: 1.2rem;
  margin-bottom: 0;
}

/* line 198, stdin */
.logos {
  list-style-type: none;
  flex-grow: 5;
  margin-top: 2.5%;
  margin-left: 1%;
}

/* line 203, stdin */
.logos li {
  display: inline-block;
  font-size: 3rem;
  margin-left: 4%;
}

/* line 207, stdin */
.logos li a {
  color: #cdcbce;
}

/* line 209, stdin */
.logos li a:hover {
  color: #000000;
}

/* line 216, stdin */
.tabs {
  background-color: #f5f5f5;
}

/* line 220, stdin */
.tabsBox {
  display: flex;
  padding: 10% 0;
  font-family: "Open Sans", sans-serif;
}

/* line 224, stdin */
.tabsBox .clicableBox {
  width: 20%;
}

/* line 226, stdin */
.tabsBox .clicableBox li {
  list-style-type: none;
  padding: 20% 5%;
  background-color: #333333;
  width: 40%;
  border-top: 1px solid #f5f5f5;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 700;
  color: #ffffff;
}

/* line 238, stdin */
.tabsBox .tabsText {
  width: 45%;
}

/* line 240, stdin */
.tabsBox .tabsText h3 {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

/* line 245, stdin */
.tabsBox .tabsText .tabsSmallText1 {
  font-size: 0.9rem;
  color: #8f9092;
  margin-top: 8%;
}

/* line 250, stdin */
.tabsBox .tabsText .tabsSmallText2 {
  font-size: 0.9rem;
  color: #8f9092;
  margin-top: 2%;
  margin-bottom: 10%;
}

/* line 256, stdin */
.tabsBox .tabsText .orange {
  background-color: #ff8b38;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 2% 8% 2% 4%;
  cursor: pointer;
}

/* line 266, stdin */
.tabsBox .tabsPicture {
  width: 25%;
  background-image: url("../images/buildings.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 79.0625%;
  display: block;
  background-repeat: no-repeat;
  margin-left: 7%;
  margin-top: 3%;
  padding-bottom: 20%;
}

/* line 277, stdin */
.sub {
  display: flex;
  padding-top: 10%;
  padding-bottm: 10%;
}

/* line 281, stdin */
.sub .viewLeft {
  width: 110%;
  background-image: url("../images/view_left.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 71.42857%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 40%;
  margin-top: 3%;
}

/* line 288, stdin */
.sub .subList {
  width: 90%;
  margin-left: 15%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
}

/* line 294, stdin */
.sub .subList h3 {
  color: #222222;
  font-size: 1.2rem;
  font-weight: 700;
}

/* line 299, stdin */
.sub .subList .orange2 {
  background-color: #ff8b38;
  margin: 3% 0;
}

@media (max-width: 1100px) {
  /* line 308, stdin */
  .sub {
    flex-direction: column;
  }
  /* line 310, stdin */
  .sub .viewLeft {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 50%;
  }
  /* line 315, stdin */
  .sub .subList {
    width: 70%;
  }
}

/* line 321, stdin */
.title1 {
  margin-bottom: 1%;
  margin-top: 10%;
}

/* line 324, stdin */
.title1 img {
  float: left;
  margin: 1% 5% 5% 0;
}

/* line 328, stdin */
.title1 h4 {
  margin-bottom: 1%;
  color: #222222;
}

/* line 332, stdin */
.title1 p {
  margin-top: 1%;
}

/* line 337, stdin */
article {
  background-color: #f5f5f5;
}

/* line 341, stdin */
.standard {
  display: flex;
  padding: 10% 0 2% 0;
}

/* line 344, stdin */
.standard .standardPicure {
  width: 65%;
}

/* line 346, stdin */
.standard .standardPicure h3 {
  color: #222222;
  font-size: 1.3rem;
  font-weight: 700;
}

/* line 351, stdin */
.standard .standardPicure .orange2 {
  background-color: #ff8b38;
  margin: 6% 0 7% 0;
}

/* line 355, stdin */
.standard .standardPicure p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 5%;
}

/* line 362, stdin */
.standard .picture {
  width: 60%;
  background-image: url("../images/view_right.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 71.42857%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 40%;
  margin-left: 5%;
}

@media (max-width: 1100px) {
  /* line 372, stdin */
  .standard {
    flex-direction: column;
    padding: 5% 0 2% 0;
  }
  /* line 375, stdin */
  .standard .standardPicure {
    margin-left: 15%;
  }
  /* line 378, stdin */
  .standard .picture {
    width: 70%;
    padding-bottom: 50%;
    margin-left: 15%;
  }
}

/* line 386, stdin */
.awe {
  padding: 5% 0;
}

/* line 388, stdin */
.awe h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

/* line 394, stdin */
.awe .orange2 {
  background-color: #ff8b38;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 401, stdin */
.awe .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 7%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 412, stdin */
.three {
  display: flex;
  justify-content: space-between;
}

/* line 415, stdin */
.three img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 420, stdin */
.three h3 {
  text-align: center;
}

/* line 423, stdin */
.three p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-left: 1%;
  margin-right: 1%;
}

@media (max-width: 567px) {
  /* line 434, stdin */
  .three {
    flex-direction: column;
  }
}

/* line 439, stdin */
.pricing {
  background-color: #f5f5f5;
}

/* line 443, stdin */
.price {
  padding: 5% 0;
}

/* line 445, stdin */
.price h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

/* line 451, stdin */
.price .orange2 {
  background-color: #ff8b38;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 458, stdin */
.price .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 7%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 469, stdin */
.boxes {
  display: flex;
  justify-content: space-between;
}

/* line 472, stdin */
.boxes ul {
  width: 90%;
}

/* line 474, stdin */
.boxes ul li {
  list-style-type: none;
  text-align: center;
  padding: 3% 5%;
  width: 80%;
}

/* line 480, stdin */
.boxes ul .darkGray {
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  border-bottom: 1px solid #f5f5f5;
  padding: 5%;
}

/* line 487, stdin */
.boxes ul .darkGrayBig {
  background-color: #333333;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 5%;
}

/* line 493, stdin */
.boxes ul .darkGrayBig span {
  font-size: 5.5rem;
}

/* line 497, stdin */
.boxes ul .differentGray {
  background-color: #333333;
  color: #aeaeae;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 2% 5% 5% 5%;
}

/* line 505, stdin */
.boxes ul .orange {
  padding: 0.7% 5%;
  background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

/* line 514, stdin */
.boxes ul .orange3 {
  padding: 3% 5%;
}

/* line 517, stdin */
.boxes ul .gray {
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  border-bottom: 2px solid #f5f5f5;
  font-weight: 600;
}

@media (max-width: 600px) {
  /* line 530, stdin */
  .boxes {
    flex-direction: column;
  }
  /* line 532, stdin */
  .boxes ul {
    margin-left: 10%;
    margin-bottom: 3%;
  }
}

/* line 539, stdin */
.boxFirst {
  margin-left: 3%;
}

/* line 543, stdin */
.boxSecond {
  margin-top: -3.3%;
}

@media (max-width: 600px) {
  /* line 548, stdin */
  .boxSecond {
    margin-top: 0%;
  }
}

/* line 555, stdin */
.what {
  padding: 5% 0;
}

/* line 557, stdin */
.what h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;
}

/* line 563, stdin */
.what .orange2 {
  background-color: #ff8b38;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 570, stdin */
.what .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 581, stdin */
.persons {
  display: flex;
  justify-content: space-between;
}

/* line 584, stdin */
.persons .person {
  margin-left: 5%;
}

/* line 586, stdin */
.persons .person p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  width: 80%;
  line-height: 1rem;
  background-color: #f5f5f5;
  padding: 6% 2% 8% 3%;
  border-radius: 5px;
  margin-bottom: 0;
}

/* line 597, stdin */
.persons .person .arrowdown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f5f5f5;
  margin-left: 7%;
}

/* line 605, stdin */
.persons .person img {
  float: left;
  margin-right: 5%;
  margin-top: 3%;
}

/* line 610, stdin */
.persons .person h3 {
  margin-bottom: 1%;
  font-family: "Open Sans", sans-serif;
}

/* line 614, stdin */
.persons .person .job {
  font-size: 0.9rem;
  color: #8f9092;
}

@media (max-width: 650px) {
  /* line 622, stdin */
  .persons {
    flex-direction: column;
  }
  /* line 624, stdin */
  .persons .person {
    margin-left: 10%;
  }
  /* line 626, stdin */
  .persons .person p {
    width: 80%;
  }
  /* line 629, stdin */
  .persons .person img {
    margin-left: 2%;
  }
}

/* line 636, stdin */
.horizontal {
  width: 100%;
  background-image: url("../images/horizontal_dark.png");
  background-size: 100% auto;
  height: 0;
  padding-bottom: 23.21429%;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 15%;
  min-height: 136px;
}

/* line 642, stdin */
.horizontal h1 {
  text-align: center;
  padding-top: 7%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
}

/* line 652, stdin */
.horizontal .border {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 658, stdin */
.horizontal .subText {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 1rem;
  width: 90%;
}

/* line 665, stdin */
.horizontal .button {
  margin-top: 5%;
  padding: 10px 5px 10px 40px;
  cursor: pointer;
  min-width: 100px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1410px) {
  /* line 676, stdin */
  .horizontal {
    padding-bottom: 13%;
  }
  /* line 678, stdin */
  .horizontal h1 {
    padding-top: 5%;
  }
}

@media (max-width: 1230px) {
  /* line 685, stdin */
  .horizontal {
    padding-bottom: 11%;
  }
  /* line 687, stdin */
  .horizontal h1 {
    padding-top: 3%;
  }
}

@media (max-width: 1000px) {
  /* line 694, stdin */
  .horizontal {
    padding-bottom: 9%;
  }
  /* line 696, stdin */
  .horizontal .button {
    margin-top: 4%;
  }
}

@media (max-width: 940px) {
  /* line 703, stdin */
  .horizontal {
    padding-bottom: 8%;
  }
  /* line 705, stdin */
  .horizontal h1 {
    padding-top: 2%;
  }
  /* line 708, stdin */
  .horizontal .button {
    margin-top: 3%;
  }
}

@media (max-width: 833px) {
  /* line 715, stdin */
  .horizontal {
    padding-bottom: 7%;
  }
  /* line 717, stdin */
  .horizontal h1 {
    padding-top: 1%;
  }
  /* line 720, stdin */
  .horizontal .button {
    margin-top: 2%;
  }
}

@media (max-width: 750px) {
  /* line 727, stdin */
  .horizontal {
    padding-bottom: 4%;
  }
  /* line 729, stdin */
  .horizontal h1 {
    font-size: 2rem;
    margin-bottom: 1%;
  }
  /* line 733, stdin */
  .horizontal .border {
    margin-top: 0%;
    margin-bottom: 1%;
  }
  /* line 737, stdin */
  .horizontal .subText {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

@media (max-width: 650px) {
  /* line 746, stdin */
  .horizontal h1 {
    padding-bottom: 2%;
  }
  /* line 749, stdin */
  .horizontal .subText {
    margin-top: 3%;
  }
  /* line 752, stdin */
  .horizontal .button {
    margin-top: 6%;
    border: 2px solid #000000;
    color: #000000;
  }
}

@media (max-width: 550px) {
  /* line 762, stdin */
  .horizontal h1 {
    padding-bottom: 1%;
  }
  /* line 765, stdin */
  .horizontal .subText {
    margin-top: 2%;
  }
  /* line 768, stdin */
  .horizontal .button {
    margin-top: 5%;
  }
}

@media (max-width: 400px) {
  /* line 776, stdin */
  .horizontal h1 {
    font-size: 1.5rem;
    padding-bottom: 0%;
  }
  /* line 780, stdin */
  .horizontal .subText {
    margin-top: 0%;
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  /* line 785, stdin */
  .horizontal .button {
    margin-top: 5%;
  }
}

/* line 791, stdin */
.contact {
  padding: 5% 0;
}

/* line 793, stdin */
.contact h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 2%;
  text-align: center;
}

/* line 800, stdin */
.contact .orange2 {
  background-color: #ff8b38;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

/* line 807, stdin */
.contact .subText {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: #8f9092;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 816, stdin */
.contact .orange {
  background-color: #ff8b38;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  min-width: 110px;
  margin-right: auto;
  margin-left: auto;
}

/* line 829, stdin */
form {
  display: flex;
}

/* line 831, stdin */
form .leftCol {
  width: 50%;
}

/* line 833, stdin */
form .leftCol input {
  width: 90%;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  margin-top: 6%;
  margin-bottom: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  font-family: "Open Sans", sans-serif;
  color: #d6d6d6;
}

/* line 845, stdin */
form .rightCol {
  width: 50%;
}

/* line 847, stdin */
form .rightCol textarea {
  width: 90%;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 1%;
  padding-bottom: 22%;
  padding-left: 3%;
  font-family: "Open Sans", sans-serif;
  resize: none;
}

@media (max-width: 1120px) {
  /* line 865, stdin */
  form .leftCol input {
    margin-left: 4%;
  }
}

@media (max-width: 770px) {
  /* line 873, stdin */
  form {
    flex-direction: column;
  }
  /* line 875, stdin */
  form .leftCol {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 881, stdin */
  form .rightCol {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 640px) {
  /* line 891, stdin */
  form {
    flex-direction: column;
  }
  /* line 894, stdin */
  form .leftCol input {
    width: 100%;
    margin-left: 0%;
  }
  /* line 900, stdin */
  form .rightCol textarea {
    width: 100%;
    margin-left: 0%;
  }
}

/* line 908, stdin */
footer {
  background-color: #000000;
}

/* line 910, stdin */
footer .logos {
  padding-top: 1%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 915, stdin */
footer .logos li {
  font-size: 1.5rem;
  margin-left: 1%;
}

/* line 919, stdin */
footer .logos li a:hover {
  color: #8f9092;
}

/* line 925, stdin */
footer .foot {
  padding-bottom: 0.5%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: #8f9092;
  margin-top: 0.5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
